body {
    background-color: lightcyan;
    font-family: sans-serif;
}

#quizcontainer {
    background-color: ghostwhite;
    border: 2px dashed dimgray;
    color: #000;
    margin: 10vw;
    padding: 5vw;
    border-radius: 15px;
    text-align: center;
}

button {
    color:ghostWhite;
    padding:10px;
    background-color:dodgerBlue;
    border:none;
    font-size:1.25vw;
    margin:1vw;
    display: inline;
}
